<footer class="pv3 ph3">

  <div class="container flex flex-wrap">

    <div class="w-100 w-33-l pb3">
      <h3>Transport Denis Corbeil</h3>
      <div class="db icon pt2"><img src="img/icons/address.png" alt="Adresse"/><span>13450 Rte Arthur-Sauvé, <br/> Mirabel (QC) J7N 2C1</span></div>
      <div class="db icon pt2"><img src="img/icons/clock.png" alt="Heure" class=""/><span>Lundi au Vendredi, 8h00 à 16h30</span></div>
      <!--<a href="#" class="social mr2"><img src="img/facebook.png" alt="Facebook"/></a>-->
      <!--<a href="#" class="social mr2"><img src="img/instagram.png" alt="Facebook"/></a>-->
    </div>

    <div class="w-100 w-33-l pb3">
      <h3>Nous joindre</h3>
      <div class="db icon pt2"><img src="img/icons/phone.png" alt="Telephone"/><span>450-258-0772</span></div>
      <div class="db icon pt2"><img src="img/icons/fax.png" alt="Fax"/><span>450-258-1695</span></div>
      <div class="db icon pt2"><img src="img/icons/email.png" alt="Courriel"/><span>info@transportdeniscorbeil.com</span></div>
    </div>

    <div class="w-100 w-33-l pb3">
      <h3>Liens rapides</h3>
      <a href="services.html" class="link db">Services</a>
      <a href="vehicules.html" class="link db">Véhicules</a>
      <a href="contact.html" class="link db">Contact</a>
    </div>

  </div>

</footer>
