<footer class="pv3 ph3">

  <div class="container flex flex-wrap">

    <div class="w-100 w-33-l pb3">
      <h3>{{site.data.settings.site_title}}</h3>
      <div class="db icon pt2"><img src="/img/icons/address.png" alt="Adresse"/><span>{{site.data.settings.site_address | markdownify}}</span></div>
      <div class="db icon pt2"><img src="/img/icons/clock.png" alt="Heure" class=""/><span>{{site.data.settings.site_business_hours}}</span></div>
      <!--<a href="#" class="social mr2"><img src="img/facebook.png" alt="Facebook"/></a>-->
      <!--<a href="#" class="social mr2"><img src="img/instagram.png" alt="Facebook"/></a>-->
    </div>

    <div class="w-100 w-33-l pb3">
      <h3>Nous joindre</h3>
      <div class="db icon pt2"><img src="/img/icons/phone.png" alt="Telephone"/><span>{{site.data.settings.site_tel}}</span></div>
      <div class="db icon pt2"><img src="/img/icons/fax.png" alt="Fax"/><span>{{site.data.settings.site_fax}}</span></div>
      <div class="db icon pt2"><img src="/img/icons/email.png" alt="Courriel"/><span>{{site.data.settings.site_email}}</span></div>
    </div>

    <div class="w-100 w-33-l pb3">
      <h3>Liens rapides</h3>
    </div>

  </div>

</footer>
