<div class="header w-100 pv2">
  <div class="container w-100 flex flex-wrap">
    <a class="pa3 link w-80 w-30-l" href="/"><h1 class="mt1 mb2 mh0 b">{{site.data.settings.site_title}}</h1></a>

    <nav class="main-nav w-70 pv3 dn dib-l tr">
      <a href="/a-propos" class="link ttu tracked b mr4">À propos</a>
      <a href="/vehicules" class="link ttu tracked b mr4">Nos véhicules</a>
      <a href="/contact" class="link ttu tracked b mr4">Contact</a>
      <a href="https://portail.transportdeniscorbeil.com" class="portail link ttu tracked b mr4 pv2 ph3 br3">Portail Client</a>
    </nav>

    <div class="nav-button w-20 tr dn-l">
      <img alt="MENU" src="/img/icons/nav-menu.svg" class="mt3 mr3"/>
    </div>
  </div>
</div>

<nav class="mobile-nav w-100 tc pv2 dn absolute">
  <a href="/a-propos" class="db w-40 ml-auto mr-auto link pv3 ttu tracked b">À propos</a>
  <a href="/vehicules" class="db w-40 ml-auto mr-auto link pv3 ttu tracked b">Nos véhicules</a>
  <a href="/contact" class="db w-40 ml-auto mr-auto link pv3 ttu tracked b">Contact</a>
  <a href="https://client.transportdeniscorbeil.com" class="db w-40 ml-auto mr-auto link pv3 ttu tracked b">Portail Client</a>
</nav>
