<div class="header w-100 pv2">
  <div class="container w-100 flex flex-wrap">
    <a class="pa3 link w-80 w-30-l" href="/"><h1 class="mt1 mb2 mh0 b">{{site.data.settings.site_title}}</h1></a>

    <nav class="main-nav w-70 pv3 dn dib-l tr">
      <a href="/services" class="link ttu tracked b mr4">Services</a>
      <a href="/a-propos" class="link ttu tracked b mr4">À propos</a>
      <a href="/vehicules" class="link ttu tracked b mr4">Nos véhicules</a>
      <a href="/contact" class="link ttu tracked b mr4">Contact</a>
      <a href="/carrieres" class="link ttu tracked b mr4">Carrières</a>
    </nav>

    <div class="nav-button w-20 tr dn-l">
      <img alt="MENU" src="img/icons/nav-menu.svg" class="mt3 mr3"/>
    </div>
  </div>
</div>

<nav class="mobile-nav w-100 tc pv2 dn absolute">
  <a href="services.html" class="db w-40 ml-auto mr-auto link pv3 ttu tracked b">Services</a>
  <a href="about.html" class="db w-40 ml-auto mr-auto link pv3 ttu tracked b">À propos</a>
  <a href="vehicules.html" class="db w-40 ml-auto mr-auto link pv3 ttu tracked b">Nos véhicules</a>
  <a href="contact.html" class="db w-40 ml-auto mr-auto link pv3 ttu tracked b">Contact</a>
  <a href="carrieres.html" class="db w-40 ml-auto mr-auto link pv3 ttu tracked b">Carrières</a>

</nav>
