---
layout: page
---
  <div class="w-100 w-50-l">

    {{content}}

    <form class="pv2 flex flex-wrap" method="POST" name="Soumission en ligne" data-netlify="true">

      <div class="mv3 w-100 w-80-m w-50-l">
        <label for="prenom">Prénom*</label>
        <input class="pa2 mv2 input-reset ba bg-transparent w-100 br2" type="text" name="prenom" id="prenom" required>
      </div>

      <div class="mv3 w-100 w-80-m w-50-l pl3">
        <label for="nom">Nom de famille*</label>
        <input class="pa2 mv2 input-reset ba bg-transparent w-100 br2" type="text" name="nom" id="nom" required>
      </div>

      <div class="mv3 w-100 w-80-m w-50-l">
        <label for="tel">Numéro de téléphone*</label>
        <input class="pa2 mv2 input-reset ba bg-transparent w-100 br2" placeholder="Format: xxx-xxx-xxxx" type="tel" name="tel" id="tel" pattern="^\d{3}-\d{3}-\d{4}$" required >
      </div>

      <div class="mv3 w-100 w-80-m w-50-l pl3">
        <label for="email">Courriel*</label>
        <input class="pa2 mv2 input-reset ba bg-transparent w-100 br2" type="email" name="email" id="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
      </div>

      <div class="mv3 w-100 w-80-m w-40-l">
        <label for="depart">Date du départ</label>
        <input class="pa2 mv2 input-reset ba bg-transparent w-100 br2" type="date" name="depart" id="depart">
      </div>

      <h4 class="w-100">Informations du véhicule</h4>

      <div class="mv3 w-100 w-80-m w-50-l">
        <label for="marque">Marque*</label>
        <input class="pa2 mv2 input-reset ba bg-transparent w-100 br2" type="text" placeholder="Marque du véhicule" name="marque" id="marque" required>
      </div>

      <div class="mv3 w-100 w-80-m w-50-l pl3">
        <label for="modele">Modèle*</label>
        <input class="pa2 mv2 input-reset ba bg-transparent w-100 br2" type="text" placeholder="Modèle du véhicule" name="modele" id="modele" required>
      </div>

      <div class="mv3 w-100 w-80-m w-50-l">
        <label for="annee">Année*</label>
        <input class="pa2 mv2 input-reset ba bg-transparent w-100 br2" type="text" placeholder="Année du véhicule" name="annee" id="annee" required>
      </div>

      <div class="mv3 w-100 w-80-m w-50-l pl3">
        <label for="longueur">Longueur*</label>
        <input class="pa2 mv2 input-reset ba bg-transparent w-100 br2" type="text" placeholder="Longueur du véhicule" name="longueur" id="longueur" required>
      </div>

      <h4 class="w-100 pb3">Adresse de départ</h4>

      <div class="w-100 w-80-m">
        <input class="pa2 mv2 input-reset ba bg-transparent w-100 br2" type="text" placeholder="Numéro et rue" name="adresse-depart" id="adresse-depart">
      </div>

      <div class="w-100 w-50-m w-50-l">
        <input class="pa2 mv2 input-reset ba bg-transparent w-100 br2" type="text" placeholder="Ville" name="ville-depart" id="ville-depart">
      </div>

      <div class="w-100 w-50-m w-50-l pl3">
        <input class="pa2 mv2 input-reset ba bg-transparent w-100 br2" type="text" placeholder="Province, état ou région" name="province-depart" id="province-depart">
      </div>

      <div class="w-100 w-50-m w-50-l">
        <input class="pa2 mv2 input-reset ba bg-transparent w-100 br2" type="text" placeholder="Code postal" name="zip-depart" id="zip-depart">
      </div>


      <div class="w-100 w-80-m w-50-l pl3">
          <select class="pa2 mv2 input-reset ba bg-transparent w-100 br2" name="pays-depart" id="pays-depart">
            <option value="canada" selected>Canada</option>
            <option value="US">États-Unis (US)</option>
          </select>
      </div>

      <h4 class="w-100 pb3">Adresse de livraison</h4>

      <div class="w-100 w-80-m">
        <input class="pa2 mv2 input-reset ba bg-transparent w-100 br2" type="text" placeholder="Numéro et rue" name="adresse-livraison" id="adresse-livraison">
      </div>

      <div class="w-100 w-50-m w-50-l">
        <input class="pa2 mv2 input-reset ba bg-transparent w-100 br2" type="text" placeholder="Ville" name="ville-livraison" id="ville-livraison">
      </div>

      <div class="w-100 w-50-m w-50-l pl3">
        <input class="pa2 mv2 input-reset ba bg-transparent w-100 br2" type="text" placeholder="Province, état ou région" name="province-livraison" id="province-livraison">
      </div>

      <div class="w-100 w-50-m w-50-l">
        <input class="pa2 mv2 input-reset ba bg-transparent w-100 br2" type="text" placeholder="Code postal" name="zip-livraison" id="zip-livraison">
      </div>


      <div class="w-100 w-80-m w-50-l pl3">
          <select class="pa2 mv2 input-reset ba bg-transparent w-100 br2" name="pays-livraison" id="pays-livraison">
            <option value="canada" selected>Canada</option>
            <option value="US">États-Unis (US)</option>
          </select>
      </div>

      <input class="submit b ph3 pv3 mt2 input-reset grow pointer br3 w-40" value="Envoyer" type="submit">

    </form>

    </div>
