<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="HandheldFriendly" content="True" />
    <meta name="description" content="{{page.description}}">
    <title>{{page.title}} | {{site.data.settings.site_title}}</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css"/>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  </head>
  <body>

    <header style="background-image:url('{{page.cover_image}}');">

      <div class="header w-100 pv2">
        <div class="container w-100 flex flex-wrap">
          <a class="pa3 link w-80 w-30-l" href="index.html"><h1 class="mt1 mb2 mh0 b">Transport Denis Corbeil</h1></a>

          <nav class="main-nav w-70 pv3 dn dib-l tr">
            <a href="services.html" class="link ttu tracked b mr4">Services</a>
            <a href="about.html" class="link ttu tracked b mr4">À propos</a>
            <a href="vehicules.html" class="link ttu tracked b mr4">Nos véhicules</a>
            <a href="contact.html" class="link ttu tracked b mr4">Contact</a>
            <a href="carrieres.html" class="link ttu tracked b mr4">Carrières</a>
          </nav>

          <div class="nav-button w-20 tr dn-l">
            <img alt="MENU" src="img/icons/nav-menu.svg" class="mt3 mr3"/>
          </div>
        </div>
      </div>

      <nav class="mobile-nav w-100 tc pv2 dn absolute">
        <a href="services.html" class="db w-40 ml-auto mr-auto link pv3 ttu tracked b">Services</a>
        <a href="about.html" class="db w-40 ml-auto mr-auto link pv3 ttu tracked b">À propos</a>
        <a href="vehicules.html" class="db w-40 ml-auto mr-auto link pv3 ttu tracked b">Nos véhicules</a>
        <a href="contact.html" class="db w-40 ml-auto mr-auto link pv3 ttu tracked b">Contact</a>
        <a href="carrieres.html" class="db w-40 ml-auto mr-auto link pv3 ttu tracked b">Carrières</a>

      </nav>

      <div class="hero w-100 dt vh-100 tc">
        <div class="dtc v-mid">
          <h2 class="ph2 b">{{page.slogan1}}</h2>
          <h3 class="ph2">{{page.slogan2}}</h3>
        </div>
      </div>

    </header>

    <main class="w-100">

      <div class="services pv5">

        <div class="container">

          <div class="w-90 w-33-l dib-l ml-auto mr-auto tc pv3 ph3">
            <img src="{{page.icon1}}" alt="{{page.link1}}"/>
            <h3 class="mv2 b">{{page.text1}}</h3>
            <a href="{{page.url1}}" class="dib pa3 mt3 b">{{page.link1}}<img src="img/icons/arrow-right.png"/></a>
          </div>

          <div class="w-90 w-33-l dib-l ml-auto mr-auto tc pv3 ph3">
            <img src="{{page.icon2}}" alt="{{page.link2}}"/>
            <h3 class="mv2 b">{{page.text2}}</h3>
            <a href="{{page.url2}}" class="dib pa3 mt3 b">{{page.link2}}<img src="img/icons/arrow-right.png"/></a>
          </div>

          <div class="w-90 w-33-l dib-l ml-auto mr-auto tc pv3 ph3">
            <img src="{{page.icon3}}" alt="{{page.link3}}"/>
            <h3 class="mv2 b">{{page.text3}}</h3>
            <a href="{{page.url3}}" class="dib pa3 mt3 b">{{page.link3}}<img src="img/icons/arrow-right.png"/></a>
          </div>

        </div> <!-- end container -->

      </div> <!-- end services -->

    </main> <!-- end main -->

    {% include footer.html %}

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
      crossorigin="anonymous"></script>
    <script src="js/main.js"></script>

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>

  </body>
</html>
