---
layout: default
---

<header style="background-image:url('{{page.cover_image}}');">

{% include nav.html %}

      <div class="hero w-100 dt vh-100 tc">
        <div class="dtc v-mid">
          <h2 class="ph2 b">{{page.slogan1}}</h2>
          <h3 class="ph2">{{page.slogan2}}</h3>
        </div>
      </div>

</header>

    <main class="w-100">

      <div class="services pv5">

        <div class="container">

          <div class="w-90 w-33-l dib-l ml-auto mr-auto tc pv3 ph3">
            <img src="{{page.icon1}}" alt="{{page.link1}}"/>
            <h3 class="mv2 b">{{page.text1}}</h3>
            <a href="{{page.url1}}" class="dib pa3 mt3 b">{{page.link1}}<img src="img/icons/arrow-right.png"/></a>
          </div>

          <div class="w-90 w-33-l dib-l ml-auto mr-auto tc pv3 ph3">
            <img src="{{page.icon2}}" alt="{{page.link2}}"/>
            <h3 class="mv2 b">{{page.text2}}</h3>
            <a href="{{page.url2}}" class="dib pa3 mt3 b">{{page.link2}}<img src="img/icons/arrow-right.png"/></a>
          </div>

          <div class="w-90 w-33-l dib-l ml-auto mr-auto tc pv3 ph3">
            <img src="{{page.icon3}}" alt="{{page.link3}}"/>
            <h3 class="mv2 b">{{page.text3}}</h3>
            <a href="{{page.url3}}" class="dib pa3 mt3 b">{{page.link3}}<img src="img/icons/arrow-right.png"/></a>
          </div>

        </div> <!-- end container -->

      </div> <!-- end services -->

    </main> <!-- end main -->

{% include footer.html %}
